@font-face{
	font-family:'cat';
	src: url("../font/HoonWhitecatR.ttf");
}


*{
	padding:0px;
	margin:0px;
	font-family:cat;
	
}

body{
	background-image:url('../image/back1.png');
	background-size:100%;
	background-repeat: no-repeat;
	height:auto;
}

nav{
	margin:10px;
}

nav ul{
	list-style:none;
	text-align:center;
	padding:30px 0;
	font-size:24pt;
	
	
}

nav ul li{
	display: inline;
	color:#469840;
	letter-spacing:10px;
	
}

nav ul li a {
	height: 100%;
	width: 100%;
	padding:20px 100px;
	color:black;
	
}

nav ul li a:hover{
	color:#E3C4FF;
}

aside#left {
	float:left;
	width:800px;
}

section {
	float:left;
	width:700px;
}

div#main{
	display:table-cell;
	margin-top: 0px;
}


footer{
	clear: both;
	text-align: center;
	font-size:24pt;
}

div#sss{
	float:right;
	margin:10px;
	font-size:18pt;
}

h1#aaa{
	color:#987107;
	font-style:italic;
	font-size:20pt;
}

a:link{
	text-decoration:none;
}

h4{
	text-align:right;
	font-size:18pt;
	color:#987107;
}

.btn{
	background-image:url('../image/ball.png');
	background-size:100% 150%;
	background-position:center;
	border-radius : 13px;
	width:100px;
	height: 30px;
	font-weight:bold;
	font-size:22px;
}

table td{
	text-align: center;
	height:30px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #999;
	width:80px;
}

div#main a{
	font-size:20px;
	color:black;
}



